{% extends 'Tenants/base.html' %}
{% load static %}
{% block header %}
<script src="{% static 'global_assets/js/main/jquery.min.js' %}"></script>
<script src="{% static 'global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/loaders/blockui.min.js' %}"></script>

{% endblock header %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card my-4">
				<div class="card-header header-elements-inline" style="background-color:rgb(50,65,72);color: #fff;;">
					<h5 class="card-title"><i class="icon-libreoffice"></i> &nbsp;All Leases</h5>
					<div class="header-elements">
						<div class="list-icons">
							<a class="list-icons-item" data-action="collapse"></a>
							<a class="list-icons-item" data-action="reload"></a>
							<a class="list-icons-item" data-action="remove"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="card my-4">
				<div class="card-body">
					<ul class="nav nav-tabs nav-tabs-bottom border-bottom-0 nav-justified">
						<li class="nav-item"><a href="#bottom-justified-divided-tab1" class="nav-link active" data-toggle="tab"><i class="icon-files-empty2 mr-2"></i> Active Leases</a></li>
						<li class="nav-item"><a href="#bottom-justified-divided-tab2" class="nav-link" data-toggle="tab"> <i class="icon-folder-remove mr-2"></i> Terminated Leases.</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane fade show active" id="bottom-justified-divided-tab1">
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th><b>#</b></th>
											<th><b>Apartment</b></th>
											<th><b>House</b></th>
											<th><b>Start Date</b></th>
											<th><b>Expires on</b></th>
											<th><b>Current Status</b></th>
											<th><b>Action</b></th>
										</tr>
									</thead>
									<tbody>
		
										{% for lease in all_active_leases %}
		
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{lease.apartment}}</td>
											<td>{{lease.house}}</td>
											<td>{{lease.lease_start_date}}</td>
											<td>{{lease.lease_end_date}}</td>
											<td>
												{% if lease.current_status %}
												<span class="badge badge-primary">Active</span>
												<i class="icon-checkmark2"
													style="color:green; font-size: 25px;"></i>
												{% else %}
												<span class="badge badge-warning">Terminated</span>
												{% endif %}
												<a type="button" href="" class=""  data-toggle="modal" data-target="#modal_iconified">
													<i class="icon-info22 ml-2" style="font-size:13px;color: grey;"></i>

												</a>


											</td>
											<td>
												<a href="">
													<i class="icon-eye4" style="color:black;"></i>
												</a>

												<a href="{% url 'Tenants:terminate_lease' lease.house.id %}"
                                                        class="confirm-delete" title="Delete" data-toggle="modal"
                                                        data-target="#confirmDeleteModal"
                                                        id="deleteButton{{lease.house.id}}">
                                                        <i class="icon-x ml-2" style="color:red;"></i>
                                                    </a>

												
											</td>
										</tr>
		
										{% empty %}
										<tr>
											<td colspan="7">
												<div class="alert alert-warning text-center">
													<p>
														<i class="icon-warning mr-3"></i> No registered active leases.
													</p>
												</div>
											</td>
										</tr>
		
										{% endfor %}
		
									</tbody>
								</table>
							</div>
		
						</div>

						<div class="tab-pane fade" id="bottom-justified-divided-tab2">
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th><b>#</b></th>
											<th><b>Apartment</b></th>
											<th><b>House</b></th>
											<th><b>Start Date</b></th>
											<th><b>Expires on</b></th>
											<th><b>Current Status</b></th>
											<th><b>Action</b></th>
										</tr>
									</thead>
									<tbody>
		
										{% for lease in all_terminated_leases %}
		
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{lease.apartment}}</td>
											<td>{{lease.house}}</td>
											<td>{{lease.lease_start_date}}</td>
											<td>{{lease.lease_end_date}}</td>
											<td>
												{% if lease.current_status %}
												<span class="badge badge-primary">Active</span>
												<i class="icon-checkmark2"
													style="color:green; font-size: 25px;"></i>
												{% else %}
												<span class="badge badge-warning">Terminated</span>
												{% endif %}
												<a type="button" href="" class=""  data-toggle="modal" data-target="#modal_iconified">
													<i class="icon-info22 ml-2" style="font-size:13px;color: grey;"></i>

												</a>


											</td>
											<td>
												<a href="">
													<i class="icon-eye4" style="color:black;"></i>
												</a>

												<a href="">
													<i class="icon-x ml-2" style="color:red;"></i>
												</a>

												
											</td>
										</tr>
		
										{% empty %}
										<tr>
											<td colspan="7">
												<div class="alert alert-warning text-center">
													<p>
														<i class="icon-warning mr-3"></i> No terminated Leases found.
													</p>
												</div>
											</td>
										</tr>
		
										{% endfor %}
		
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</div>
{% block scripts %}
{% endblock scripts %}

{% endblock body %}