main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right top, #d4f0eb, #6696ac);
    justify-content: center;
}

.glass {
    background: #fff;
    min-height: 80vh;
    width: 88%;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255,0.3));
    border-radius: 1.1rem;
    z-index: 2;
    backdrop-filter: blur(1rem);
}

.circle1, .circle2{
    background: #fff;
    background: linear-gradient(to right bottom, rgba(255, 255 , 255, 0.8), rgba(255,255,255,0.3));
    height: 10rem;
    width: 10rem;
    position: absolute; 
    border-radius: 50%;  
}

.circle1{
    top: 10%;
    right: 3%;
}

.circle2 {
    bottom: 5%;
    left: 20%;
}

.single-cards{
    background: linear-gradient(to left top, rgba(255,255,255,1),
    rgba(255,255,255,0.7)
    );
    border-radius: 0.5rem!important;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}
